@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
/* CSS RESET & FONT-FAM */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

/* GENERAL */
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: auto;
    max-height: 100%;
}

/* UTILITIES */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Layout */
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.row.row-cols-6>* {
    flex: 0 0 calc(100% / 6);
}

.col {
    padding: 0 10px;
}